* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.gridDivs {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    flex: 1, 1, auto;
}

#gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gridButton {
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0px;
    border-radius: 10px;
    background-color: gray;
    color: white;
}